<div id="resource_descriptions">

    <table class="table" id="resource-description-table">
      <thead>
      <tr>
        <th width="19em"><label class="required">Description language</label></th>
        <th><label class="required">Description Text</label></th>
        <th width="19em"></th>
      </tr>
      </thead>
      <tbody>


      <% if @studyhub_resource.resource_json.nil? %>
        <%= render :partial => 'description_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => 0} %>
      <% else %>
        <% @studyhub_resource.resource_json['resource_descriptions'].each_with_index do |description, index| %>
          <%= render :partial => 'description_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => index} %>
        <% end %>
      <% end %>

        <tr id="description-row">
          <td colspan="6">
            <%= button_link_to('Add more descriptions', 'add', '#', :id => 'add-description-row') %>
          </td>
        </tr>
      </tbody>
    </table>



    <table id="new-description-row" style="display: none">
      <tbody>
      <%= render :partial => 'description_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f} %>
      </tbody>
    </table>

  </div>



<script>
    //used to hold the element Id that needs updating after creating a new CV
    $j(document).ready(function () {
        $j('#add-description-row').click(function () {
            var newRow = $j('#new-description-row tbody').clone().html();
            var index = 0;
            $j('#resource-description-table tr.resource-description').each(function () {
                var newIndex = parseInt($j(this).data('index'));
                if (newIndex > index) {
                    index = newIndex;
                }
            });

            index++;

            newRow = newRow.replace(/row-template/g, index);

            $j('#resource-description-table #description-row').before($j(newRow));
            $j('select[name="studyhub_resource[description_language]['+index+']"]').val("EN");
            $j('textarea[name="studyhub_resource[description_text]['+index+']"]').val("");


            return false;
        });

        $j('#resource-description-table').on('change', '.destroy-row', SR.removedescriptionRow);

    });
</script>

