<% cmt = CustomMetadataType.where(title:"NFDI4Health Studyhub Resource General",supported_type:@studyhub_resource.class.name).first %>
<div id="general_resource" >
  <%= render partial: 'studyhub_resources/key_value_attributes', locals: { custom_metadata_type: cmt, resource: resource } %>
</div>
