<div id="ft">
  <div class="row">
    <span class="subtle">Based on <a href="https://github.com/seek4science/seek" target="_blank">SEEK Software</a>, version <%= version_text -%>, created by The University of Manchester and HITS gGmbH licensed under <a href="https://github.com/seek4science/seek/blob/master/BSD-LICENSE" target="_blank">BSD 3-Clause Revised License</a> Copyright (c) 2009-2021,  <a href="https://www.manchester.ac.uk" target="_blank">University of Manchester</a> and  <a href="https://hits.de" target="_blank">HITS gGmbH</a>. Modifications Copyright (c) 2021,  <a href="https://hits.de" target="_blank">HITS gGmbH</a> and <a href="https://zbmed.de" target="_blank">ZB MED</a>.</span>
  </div>
  <div class="row">
  </div>
  <%# cache cache_name, skip_digest: true do -%>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'nfdi/dfg_logo_schriftzug_blau_foerderung_en.svg', style: 'height: 70px;' -%>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <%= image_tag 'nfdi/NFDI4Health_Logo_cmyk_RZ.svg', style: 'height: 70px;' -%>
    </div>
  </div>
  <div class="row">
  </div>
  <%# end -%>
  <div class="row">
    <span class="subtle">This service is developed in the project NFDI4Health Task Force COVID-19 which is a part of NFDI4Health. NFDI4Health is one of the funded consortia of the National Research Data Infrastructure programme of the DFG. (Project identifier 451265285).</span>
  </div>
</div>
</div>